* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 
###################
# MOBILE DISPLAYS #
###################
*/

.heading-1 {
  text-align: center;
  padding: 1rem;
}

.day-layout {
  padding: 2vw;
  border: 1px solid black;
  border-radius: 2px;
}

.day-number {
  font-size: 1.25rem;
  font-weight: 600;
  display: inline-block;
}

.day-name {
  color: grey;
}

.habits {
  font-size: 0.75rem;
}

.good {
  color: green;
}

.bad {
  color: red;
}

.month-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 1%;
  gap: 1%;
}
